@model IEnumerable<AplicacionMVC.Models.Employee>

@{
    ViewData["Title"] = "Listar";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Salario</th>
            <th scope="col">Nombre del departamento</th>
        </tr>
    </thead>
    <tbody>
 
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                <td>@Html.DisplayFor(modelItem => item.IdDeparmentFkNavigation.Name)</td>
            </tr>
        }

        <div>
            <a asp-action="Index" class="btn btn-danger">Atrás</a>
        </div>
    </tbody>
</table>